{% extends 'student/base.html' %}

{% block title %}List Student{% endblock %}


{% block content %}

<div>
  {% for message in messages %}
    {% if message %}
      <h4 style = "text-align:center;">{{message}}</h4>
    {% endif %}   
  {% endfor %}

</div>

<div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Student List</h3>

          <div class="card-tools">
            {% comment %} <div class="input-group input-group-sm" style="width: 150px;"> {% endcomment %}
                <a href = "{% url 'student:create_student' %}" class = "btn btn-primary btn-sm">Add Student</a>
              {% comment %} <button type = "btn" class = "btn btn-default"><a href = "{}">Add Student</a><button> {% endcomment %}
              {% comment %} </div> {% endcomment %}
            </div>
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body table-responsive p-0">
          <table class="table table-hover text-nowrap">
            <thead>
              <tr>
                <th>SN</th>
                <th>Name</th>
                <th>Email</th>
                <th>Mobile</th>
                <th>Action</th>
                <th>-------</th>
                <th>-------</th>


              </tr>
            </thead>
            {% for student in students %}
            <tbody>
              <tr>
                <td>{{forloop.counter}}</td>
                <td>{{student.name}}</td>
                <td>{{student.email}}</td>
                <td>{{student.mobile}}</td>
                <td>
                    <a href = "{% url 'student:detail_student' student.id %}" class = "btn btn-info btn-sm"><span class = "fa fa-eye"></span></a>
                    <a href = "{% url 'student:update_student' student.id %}" class = "btn btn-warning btn-sm"><span class = "fa fa-edit"></span></a>
                    <a href = "{% url 'student:delete_student' student.id %}" class = "btn btn-danger btn-sm"><span class = "fa fa-trash"></span></a>
                </td>
                <td>
                  <a href = "{% url 'education:educationinfo_create' student.id %}" class = "btn btn-block btn-outline-primary">Add EduInfo</a>
                </td>
                <td>
                  <a href = "{% url 'family:familyinfo_create' student.id %}" class = "btn btn-block btn-outline-primary">Add FamilyInfo</a>
                </td>
                </tr>
            </tbody>
            {% endfor %}
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
  </div>


{% endblock content %}