{% extends 'base.html' %}

{% block content %}

<div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Student List</h3>

          <div class="card-tools">
            {% comment %} <div class="input-group input-group-sm" style="width: 150px;"> {% endcomment %}
                <a href = "{% url 'batch:create_batch' %}" class = "btn btn-primary btn-sm">Add Batch</a>
              {% comment %} <button type = "btn" class = "btn btn-default"><a href = "{}">Add Student</a><button> {% endcomment %}
              {% comment %} </div> {% endcomment %}
            </div>
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body table-responsive p-0">
          <table class="table table-hover text-nowrap">
            <thead>
              <tr>
                <th>SN</th>
                <th>Batch Name</th>


              </tr>
            </thead>
            {% for batch in batches %}
            <tbody>
              <tr>
                <td>{{forloop.counter}}</td>
                <td>{{batch.batch_name}}</td>
                <td>
                    <a href = "{% url 'batch:detail_batch' batch.id %}" class = "btn btn-info btn-sm"><span class = "fa fa-eye"></span></a>
                    <a href = "{% url 'batch:update_batch' batch.id %}" class = "btn btn-warning btn-sm"><span class = "fa fa-edit"></span></a>
                    <a href = "{% url 'batch:delete_batch' batch.id %}" class = "btn btn-danger btn-sm"><span class = "fa fa-trash"></span></a>
              </tr>
            </tbody>
            {% endfor %}
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
  </div>


{% endblock content %}